@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) calc(50% - 250px); /* جابجایی تصویر به بالا */
    background-size: 20%;
}

.navigation {
     position: relative;
    width: 500px;
    height: 70px;
    background-color: rgba(63, 73, 76, 0.5);
    border: 1px solid rgba(173, 216, 230, 0.6);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.navigation ul {
    display: flex;
    width: 450px; /* افزایش عرض لیست آیتم‌ها */
}

.navigation ul li {
    position: relative;
    width: 80px;  /* افزایش عرض هر آیتم لیست */
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    line-height: 75px;
    font-size: 1.5em;
    color: #fff;
    transition: .5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li a .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 80px;  /* افزایش عرض نشانگر */
    height: 70px;
    background-color: rgba(63, 73, 76, 0.5);
    border: 1px solid rgba(173, 216, 230, 0.6);
    backdrop-filter: blur(15px);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.indicator::before,
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    /*box-shadow: 1px -10px 0 #ffffff;*/
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    /*box-shadow: -1px -10px 0 #ffffff;*/
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(80px * 0)); /* تغییر به 80px */
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(80px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(80px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(80px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(80px * 4));
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* تغییر به سمت چپ */
    position: absolute; /* انتقال به بالا */
    top: 10px; /* فاصله از بالا */
    left: 10px; /* فاصله از سمت چپ */
}

input[type="text"], input[type="number"] {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.fas.fa-search {
    padding: 10px;
    border: none;
    background-color: #3f494c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button.fas.fa-search:hover {
    background-color: #2f383a;
}

.sub-menu-wrap {
    display: none;
    position: absolute;
    top: 70px; /* تنظیم فاصله از بالا */
    left: 10px;
    width: 200px;
    background: #fff;
    border: 1px solid rgba(173, 216, 230, 0.6);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.sub-menu-wrap.active {
    display: block;
}

.sub-menu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sub-menu-link input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.user-pic {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(63, 73, 76, 0.5);
    border: 1px solid rgba(173, 216, 230, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px; /* فاصله از سمت راست */
}

.user-pic ion-icon {
    color: #fff;
    font-size: 1.5em;
}
