<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Slider HTML and CSS | CodingNepal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>

<header class="header" onclick="toggleMenu()">

   <section class="flex">
{# the search #}
      <a href="home.html" class="logo"></a>

      <form action="" method="post" class="search-form">
         <input type="text" name="search_box"  placeholder="search property..." maxlength="100">
         <button type="submit" class="fas fa-search"></button>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <div class="profile">
         <input  class="name" type="text" name="location" placeholder="location">
         <input   class="name" type="text" name="rent_period" placeholder="Enter Rent Period" aria-placeholder="amount">
         <input    class="name" type="number" name="rent_price" placeholder="Enter Rent Price" aria-placeholder="amount">

         </div>
      </div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      </form>

  {# the search  #}
      <div class="icons">
{# the advance search  icon#}
         <div id="user-btn" class="fas fa-bars"></div>
          {# the advance search  icon#}
{#         <div id="menu-btn" class="fas fa-bars"></div>#}
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
   </section>

</header>

<div class="side-bar">
   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>
     <div class="profile">
      <img src="/static/images/img-2.jpg" class="image" alt="">
      <h3 class="name">{{ full_name }}</h3>
      <p class="role">owner</p>
     <a href="{{ url_for('profile_owner') }}" class="btn">view profile</a>
      </div>
   <nav class="navbar">
          <a href="{{ url_for('home_page') }}"><i class="fas fa-home"></i><span>Home </span>
     </a> <a href="{{ url_for('home_owner_to_addhome') }}"><i class="fas fa-plus"></i><span>Add</span>
     </a> <a href="{{ url_for('show_page_owner') }}"><i class="fas fa-eye"></i><span>Show</span></a>
        <a href="{{ url_for('contact_page_tenant') }}"><i class="fas fa-headset"></i><span>Contact Us</span></a>
   </nav>
</div>
<section class="home-grid">
</section>


<section class="courses">
   <h1 class="heading">Properties</h1>
   <div class="box-container">
       {% for property in property_owner_list %}
<!--    The elements-->
          <div class="box">
         <div class="tutor">
             {%   if property['imgh'] != ''  %}
               <img src="{{ property['imgh'] }}" alt="">
             {% else %}
                         <img src="" alt="">
             {%  endif  %}

            <div class="info">
                           <h3>{{ property['property_name']}}</h3>
               <span>Added in {{ property['time'] }}  {{ property['date'] }}</span>
                            </div>
         </div>
<!--         <div class="thumb">-->
<!--           <img src="/static/images/999.png" alt="">-->
<!--         </div>-->
                  <h3 class="title"> rent price : {{ property['rent_price'] }} rent period: {{ property['rent_period'] }}</h3>
         <a href="{{ url_for('property_details_page',objectID=property['_id']) }}" class="inline-btn">view details</a>
          <a href="{{ url_for('delete_property_details_page', objectID=property['_id']) }}" class="inline-btn">delete Property</a>
          <a href="{{ url_for('edit_property', objectID=property['_id']) }}" class="inline-btn">edit</a>
      </div>
<!--The end of elements-->
{% endfor %}
 </div>
</section>

<!-- custom js file link  -->
{#<script src="{{ url_for('static', filename='script2.js') }}"></script>#}

<script src="{{ url_for('static', filename='js.js') }}"></script>
 <script>
        function toggleMenu() {
            const subMenu = document.getElementById('subMenu');
            subMenu.classList.toggle('active');
        }
        document.addEventListener('click', function(event) {
            const subMenu = document.getElementById('subMenu');
            const userPic = document.querySelector('.user-pic');
            if (!userPic.contains(event.target) && !subMenu.contains(event.target)) {
                subMenu.classList.remove('active');
            }
        });
    </script>
 </body>
</html>