<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Slider HTML and CSS | CodingNepal</title>
    <!-- Linking SwiperJS CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/n.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circle1.css') }}">
    <style>

    </style>
</head>
<body>

    <form action="" method="POST" class="search-form">
        <input type="text" name="search_box" placeholder="search property..." maxlength="100">
        <button type="submit" class="fas fa-search"></button>
    </form>

    <div class="navigation">
        <ul>
            <li class="list active">
                <a href="{{ url_for('home_page_tenant') }}">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">Home</span>
                    <span class="circle"></span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('show_page_owner') }}">
                    <span class="icon">
                        <ion-icon name="eye-outline"></ion-icon>
                    </span>
                    <span class="text">Show</span>
                    <span class="circle"></span>
                </a>
            </li>
            <li class="list">
                <a href="/">
                    <span class="icon">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </span>
                    <span class="text">Start home</span>
                    <span class="circle"></span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('contact_page_tenant') }}">
                    <span class="icon">
                        <ion-icon name="call-outline"></ion-icon>
                    </span>
                    <span class="text">Contact us</span>
                    <span class="circle"></span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="text">Log out</span>
                    <span class="circle"></span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>

    <h1 class="heading">Properties</h1>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for property in property_owner_list  %}
            <!-- The elements -->
            <div class="swiper-slide">
                <div class="card-item">
                    <img src="/static/images/8.jpg" alt="User Image" class="user-image">
                    <div class="user-name">
                         <h2>{{ property['property_name']}}</h2>
                         <span>Added in {{ property['time'] }}  {{ property['date'] }}</span>

                            <h3 class="title">rent price : {{ property['rent_price'] }} rent period: {{ property['rent_period'] }}</h3>
                            <a href="" class="inline-btn">view details</a>
                        <a href="{{ url_for(' Delete_playlist_page', objectID=property['_id']) }}" class="message-button">Delete </a>


{##}
{#                    <a href="{{ url_for('playlist_page2', objectID=property['_id']) }}" class="message-button">View details</a>#}
                </div>
            </div>
            </div>
            <!-- The end of elements -->
            {% endfor %}


        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <!-- Linking SwiperJS script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Custom script to initialize Swiper -->
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            grabCursor: true,
            spaceBetween: 10, // کاهش فاصله بین اسلایدها
            // Pagination bullets
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                dynamicBullets: true
            },
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // Responsive breakpoints
            breakpoints: {
                0: {
                    slidesPerView: 1
                },
                768: {
                    slidesPerView: 2
                },
                1024: {
                    slidesPerView: 3
                }
            }
        });
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const list = document.querySelectorAll('.list');

        function activeLink() {
            list.forEach((item) => item.classList.remove('active'));
            this.classList.add('active');
        }

        list.forEach((item) => item.addEventListener('click', activeLink));
    </script>

</body>
</html>
