<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}">
</head>  
<body>  
    <div class="wrapper">  
        <div class="form-wrapper sign-in">  
            <form method="POST" action="">
                <h2>Sign up</h2>

                <div class="input-group">  
                    <input type="text" name="username" required>
                    <label >Username</label>
                </div> 
                

                <div class="input-group">  
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div> 

                <div class="input-group">  
                    <input type="text" name="email" required>
                    <label >Email</label>
                </div> 

                <div class="input-group">  
                    <input type="text" name="birthday" required>
                    <label >Birthday</label>
                </div> 
                 
                <div class="remember">  
                    
                </div>  
                <button type="submit">Login</button>  
                
            </form>  
        </div>  
         
    </div>  
    <!-- <script src="script.js"></script> -->  
</body>  
</html>